@{
    ViewData["Title"] = "Inicio";
}

<section class="main-section">
    <div class="container">
        <h1>TU COMPAÑERO PERFECTO PARA LA ORGANIZACIÓN</h1>
        <h3>PLANIFICA, ORGANIZA Y TRIUNFA.</h3>
        <p>Mantén tu vida organizada y productiva. Nuestra aplicación te ofrece una experiencia integral
            para gestionar tus horarios y pendientes de manera eficiente. Con Luxor podrás crear nuevas
            rutinas, cumplir con tus responsabilidades y descubrir nuevas maneras de aprovechar tu tiempo.
            Nunca ha sido tan fácil y divertido. Con Agenda360, tienes un compañero confiable para
            mantenerte en el camino correcto y alcanzar tus metas.</p>
        <img src="~/img/calendar.jpg" alt="Calendar" class="img-fluid mt-4">
    </div>
</section>

<style>
    .main-section {
        background-color: #5D89B3;
        /* Color de fondo */
        color: white;
        /* Color del texto */
        min-height: calc(100vh - 70px);
        /* Asegura que cubra el 100% de la pantalla menos la altura del header */
        padding: 60px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0;
        /* Asegura que no haya márgenes */
    }

    .main-section h1 {
        font-size: 2.5rem;
        font-weight: bold;
    }

    .main-section h3 {
        font-size: 1.75rem;
        margin-bottom: 20px;
    }

    .main-section p {
        font-size: 1.2rem;
        margin-bottom: 30px;
    }
</style>


